.header {
    margin-bottom: 50px;
    padding: 15px 10px;
    background-color: rgba(169, 211, 233, 0.5);
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0,0.3);
}

.header input {
  margin: 15px 10px;
  font-size: 18px;
  padding: 2px 5px;
  border-color: rgba(0, 0, 0,0.3);
}

h1 {
  text-shadow: 1.5px 1.5px 1.5px hsla(201, 59%, 19%, 0.63);
}